/bin/
/obj/
/redist/
*.user
*.suo
*.pdb
*.cache
*.log
DllInjectionService.cs
DllInjector.xaml
DllInjector.xaml.cs
InjectorViewModel.cs

/DarkHubRmk/bin/
/DarkHubRmk/obj/

*.tmp
*.bak

assets/yt-dlp.exe
assets/ffmpeg.exe
/SystemMonitor.xaml.cs
