/bin/
/obj/
/redist/
*.user
*.suo
*.pdb
*.cache
*.log

/DarkHubRmk/bin/
/DarkHubRmk/obj/

*.tmp
*.bak

assets/settings/
assets/yt-dlp.exe
assets/ffmpeg.exe
assets/certificate_password.txt
assets/CPU-Z.exe
assets/GPU-Z.exe
assets/DDU.exe
assets/HWiNFO64.exe
/GameLauncher.xaml.cs
/GameLauncher.xaml
